/* Define font styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  h1, h2, h3 {
    font-family: Georgia, serif;
    color: #666;
  }
  
  /* Define div styles */
  .div1 {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
  }
  
  .div2 {
    background-color: #e6f7ff;
    border: 1px solid #99c2ff;
    padding: 20px;
    margin: 20px;
    font-size: 14px;
    font-weight: normal;
    text-align: justify;
  }
  
  .div3 {
    background-color: #fff0f5;
    border: 1px solid #ffb6c1;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .div4 {
    background-color: rgba(65, 105, 225, 0.348);
    border: 1px solid #f8ffb6b0;
    padding: 15px;
    margin: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  
  /* Define styles for links */
  a {
    color: #0066cc;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  